<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />

    <title>RJS</title>
  </head>
  <body>
    <header>
      <nav id="#nav1">
        <div class="logo"><h1>RIBBONJS</h1></div>
        <button class="1" onclick="location.href='/'" type="button">
          Головна
        </button>
        <button class="2" onclick="location.href='/ribbon'" type="button">
          Ваша стрічка
        </button>
        <button class="3" onclick="location.href='/friends'" type="button">
          Друзі
        </button>
        <button class="4" onclick="location.href='/account'" type="button">
          Аккаунт
        </button>
        <% if(!signedIn) { %>
        <div class="aftorization">
          <button
            class="1"
            onclick="location.href='/signIn'"
            type="button"
            display=""
          >
            Увійти
          </button>
          <button class="2" onclick="location.href='/reg'" type="button">
            Зарееструватися
          </button>
        </div>
        <% } else {%>
          <button type="button" onclick="location.href='/signOut'">
            Вийти з аккаунту
          </button>
        <% }%>
      </nav>
    </header>
  </body>
</html>
