<%-include('partials/header.ejs')%>
<main>
    <%if(userposts[0] != null){ %>
    <iframe src="/ribbonFrame" class="posts">
    </iframe>
    <% }else {%>
        <div class="posts">
            <h2 style="text-align: center;">Постів немає</h2>
        </div>
        <% }%>
    <div class="addpost">
        <button onclick="location.href='/createPost'">Додати пост</button>
    </div>
</main>
<%-include('partials/footer.ejs')%>
</body>
</html>