* {
  font-family: "Times New Roman", Times, serif;
  color: white;
}
body {
  background-color: rgb(128,128,128);
}
input {
  color: black;
  font-size: 24px;
}
textarea {
  color: black;
  font-size: 24px;
}
nav {
  margin: 0px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
}
nav h1 {
  margin-left: 50px;
  text-shadow: 2px 2px 2px black;
  font-size: 32px;
}
nav button {
  font-size: 24px;
  background-color: rgb(0, 0, 0);
  border: solid white 1px;
  border-width: 0px 0px 0px 1px;
  text-shadow: 2px 2px 2px black;
}
nav button:hover {
  padding-top: 5px;
  text-shadow: none;
  background-color: rgb(105,105,105);
  box-shadow: inset 0px 0px 0px 3px white;
  transition: box-shadow 0.2s;
}

.active{
  padding-top: 5px;
  text-shadow: none;
  background-color: rgb(105,105,105);
  box-shadow: inset 0px 0px 0px 3px white;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  height: 800px;
  border: solid rgb(105,105,105) 5px;
  background-color: rgb(0, 0, 0);
}
footer {
  text-align: center;
}

.aftorization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px white solid;
}
.aftorization button {
  background-color:rgb(0, 0, 0);
  border: 2px solid white;
  border-radius: 30px;
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aftorization button:hover {
  background-color: white;
  color: black;
  text-shadow: none;
  transition: 0.2s;
  padding: 0%;
}
.container {
  width: 600px;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  margin-bottom: 10px;
  font-size: 32px;
}
.label {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container input {
  height: 30px;
  margin: 10px;
}
.container button {
  background-color: rgb(0, 0, 0);
  border: 2px solid white;
  font-size: 32px;
  border-radius: 30px;
  height: 60px;
  width: 300px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.container button:hover {
  background-color: white;
  color: black;
  text-shadow: none;
  transition: 0.2s;
  padding: 0%;
}

.avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.accbtn {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.friendlist {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.friends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.friendshave {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.findfriend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.friend{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.friend img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.addpost button {
  background-color:rgb(0, 0, 0);
  border: 2px solid white;
  border-radius: 30px;
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.addpost button:hover {
  background-color: white;
  color: black;
  text-shadow: none;
  transition: 0.2s;
}

.posts {
  width: 85%;
  height: 100%;
  border: solid rgb(105,105,105) 2px;
}

.addpost{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
  border: solid rgb(105,105,105) 2px;
}

.ribbonBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

.post{
  display: flex;
  flex-direction: column;
  width: 99%;
  border: solid rgb(255, 255, 255) 2px;
  padding: 10px;
}

.post button {
  background-color:rgb(0, 0, 0);
  border: 2px solid white;
  border-radius: 30px;
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin: 20px auto;
}
.post button:hover {
  background-color: white;
  color: black;
  text-shadow: none;
  transition: 0.2s;
}

.post .text{
width: 500px;
margin: 5px;
font-size: 24px;
}
.post .user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createPost{
  display: flex;
  flex-direction: column;
}
.createPost h1{
  font-size: 48px;
}
.createPost button {
  background-color:rgb(0, 0, 0);
  border: 2px solid white;
  border-radius: 30px;
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin: 20px auto;
}
.createPost button:hover {
  background-color: white;
  color: black;
  text-shadow: none;
  transition: 0.2s;
}

.user .avatar {
  width: 70px;
  height: 70px;
}